body {
  background-color: #f2f5f9;
}

.homepage {
  background-image: url("/public/home_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.remainingViewport {
  margin-left: 230px;
}

.logoImage {
  margin-top: -80px;
}

.no-image {
  width: 200px;
  height: 200px;
}

.my-text-field .ql-editor {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
