body {
  background-color: white;
}

.homepage {
  background-color: white;
}

.remainingViewport {
  margin-left: 230px;
}

.logoImage {
  margin-top: -80px;
}

.no-image {
  width: 200px;
  height: 200px;
}

.my-text-field .ql-editor {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.custom-datagrid-header {
  background-color: #f2f2f2;
}
